<ion-view view-title="Gimnasios">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-log-out" ng-click="logout()">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <script>
        /*var vm=this;
        var personMarker = { url:'../img/person-marker.png', scaledSize:[30,30], origin: [0,0], anchor: [15,30] }
        var gymMarker = { url:'../img/gym-marker.png', scaledSize:[35,35],  origin: [0,0], anchor: [17,35] }
        vm.gyms =[
          {long: -34.618634, lat: -58.369471, index: 1, icon: gymMarker },
          {long: -34.616321, lat: -58.3685261, index: 2,  icon: gymMarker },
          {long: -34.618634, lat: -58.369471, index: 3,  icon: gymMarker },
          {long: -34.618634, lat: -58.369471, index: 4,  icon: gymMarker }
        ];

        vm.infoWindow = [
          {name: "Fiuba Gym", dir: "Paseo colon 820"},
          {name: "Fiuba Gym", dir: "Paseo colon 820"},
          {name: "Fiuba Gym", dir: "Paseo colon 820"},
          {name: "Fiuba Gym", dir: "Paseo colon 820"}
        ]
      */      
      app.module('ngMap').run(function($rootScope, NgMap) {        
        NgMap.getMap().then(function(map) {
          $rootScope.map = map;
        });
      });
      </script>
  
      <ng-map id="map" center="-34.617751,-58.367862">
      
      <marker position="-34.617751,-58.367862" title="you are here" animation="DROP"
      icon="{url:'../img/person-marker.png',scaledSize:[30,30],origin: [0,0],anchor: [15,30]}"></marker>

      <marker id="marker1" position="-34.618634,-58.369471" animation="DROP" title="Gym1" on-click="map.showInfoWindow('bar1')"
      icon="{url:'../img/gym-marker.png',scaledSize:[35,35],origin: [0,0],anchor: [17,35]}"></marker>

      <marker position="-34.616321,-58.368526" animation="DROP" title="GymFiuba" on-click="map.showInfoWindow('bar2')"
      icon="{url:'../img/gym-marker.png',scaledSize:[35,35],origin: [0,0],anchor: [17,35]}"></marker>

      <marker position="-34.612597,-58.373108" animation="DROP" title="Gym3" on-click="map.showInfoWindow('bar3')" 
      icon="{url:'../img/gym-marker.png',scaledSize:[35,35],origin: [0,0],anchor: [17,35]}"></marker>

      <marker position="-34.617595,-58.378365" animation="DROP" title="Gym4" on-click="map.showInfoWindow('bar4')"
      icon="{url:'../img/gym-marker.png',scaledSize:[35,35],origin: [0,0],anchor: [17,35]}"></marker>

      <marker position="-34.625467,-58.368945" animation="DROP" title="Gym5" on-click="map.showInfoWindow('bar5')" 
      icon="{url:'../img/gym-marker.png',scaledSize:[35,35],origin: [0,0],anchor: [17,35]}"></marker>
      
      <info-window id="bar1">
        <div ng-non-bindable><h3>McGym</h3><p>Paseo Colon 720</p><p><b><a href="#/tab/singleGym">Ver Actividades</a></b></p></div>
      </info-window>
      <info-window id="bar2">
        <div ng-non-bindable><h3>Gym Fiuba</h3><p>Paseo Colon 720</p><p><b><a href="#/tab/singleGym">Ver Actividades</a></b></p></div>
      </info-window>
      <info-window id="bar3">
        <div ng-non-bindable><h3>Gym Belgrano</h3><p>Paseo Colon 720</p><p><b><a href="#/tab/singleGym">Ver Actividades</a></b></p></div>
      </info-window>
      <info-window id="bar4">
        <div ng-non-bindable><h3>Gym Independencia</h3><p>Paseo Colon 720</p><p><b><a href="#/tab/singleGym">Ver Actividades</a></b></p></div>
      </info-window>
      <info-window id="bar5">
        <div ng-non-bindable><h3>Gym San Telmo</h3><p>Paseo Colon 720</p><p><b><a href="#/tab/singleGym">Ver Actividades</a></b></p></div>
      </info-window>
    </ng-map>
     
  </ion-content>
</ion-view>
