<ion-view view-title="Gym Belgrano">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-log-out" ng-click="logout()">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
  	<a class="gym-header1">Gym Belgrano</a>
  	<br>
  	<a class="gym-header2">Gimnasio</a>
    <img class="gym-img" src="../../img/gym-belgrano.png" />
    <a class="gym-options">Pase Gimnasio ($45)</a> 
    <button class="button button-outline button-positive gym-options-btn">
  		+
	</button>
    <br>
    <a class="gym-options">Clase MMA ($30)</a> 
    <button class="button button-outline button-positive gym-options-btn">
  		+
	</button>
    <br>
    <a class="gym-options">Clase Zumba ($25)</a> 
    <button class="button button-outline button-positive gym-options-btn">
  		+
	</button>
    <br>
    <a class="gym-options">Clase Spinning ($30)</a> 
    <button class="button button-outline button-positive gym-options-btn">
  		+
	</button>
    <button class="button button-block button-balanced">
  		Continuar
	</button>
  </ion-content>
</ion-view>
